<a href="/salons">Salon Index</a>
<a href="/workstations">Workstation Index</a>


<h1>All Salons</h1>
<h3><a href="salons/new">Add Salon</a></h3>

<% @salons.each do |salon| %>
  <h3>Salon Name:<a href="/salons/<%= salon.id %>"><%= salon.name %></a></h3>
  <p>City:<%= salon.city %></p>
  <p>Stars:<%= salon.stars %></p>
  <p>Requires Insurance:<%= salon.requires_insurance %></p>
  <p>Created At:<%= salon.created_at %></p>
  <p>Updated At:<%= salon.updated_at %></p>
  <a href="/salons/<%= salon.id  %>/edit">Update Salon</a>
  <a href="/salons/<%= salon.id  %>/edit">Edit Salon</a>
  <form action="/salons/<%= salon.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>