<a href="/salons">Salon Index</a>
<a href="/workstations">Workstation Index</a>

<h1>All Workstations</h1>

<% @workstations.each do |workstation| %>
  <p>Workstation Name:<%= workstation.name %></p>
  <p>Chair Count:<%= workstation.chair_count %></p>
  <p>Available:<%= workstation.available %></p>
  <p>Created At:<%= workstation.created_at %></p>
  <p>Updated At:<%= workstation.updated_at %></p>
<% end %>