<a href="/workstations">Workstation Index</a>

<h1>All Workstations</h1>

<% @workstations.each do |workstation| %>
  <h3>Workstation Name:<a href="/workstations/<%= workstation.id %>"><%= workstation.name %></a></h3>
  <p>Chairs Offered:<%= workstation.chair_count %></p>
  <p>Available:<%= workstation.available %></p>
  <p>Salon ID:<%= workstation.salon_id %></p>
  <a href="/workstations/<%= workstation.id  %>/edit">Edit</a>
  <form action="/workstations/<%= workstation.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>