<a href="/salons">Salon Index</a>
<a href="/workstations">Workstation Index</a>

<%= form_with url: '/salon/:id/workstations/new', method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br/>
  <%= form.label :chair_count %>
  <%= form.text_field :chair_count %><br/>
  <%= form.label :available %>
  <%= form.check_box :available %>

  <%= form.submit "Add Workstation" %>
<% end %>

